on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    # volume up/down key 
	chown radio system /sys/devices/platform/gpio-event/wakeup_keys
    
    #Compcache Init
    chmod 0600 /sys/block/zram0/disksize
    chown system system /sys/block/zram0/disksize
    write /sys/block/zram0/disksize 209715200
    chmod 0600 /sys/block/zram0/initstate
    chown system system /sys/block/zram0/initstate
    write /sys/block/zram0/initstate 1
    mkdir /dev/memcgrp 
    mount cgroup none /dev/memcgrp memory
    chmod 0700 /dev/memcgrp
    chown system system /dev/memcgrp
    mkdir /dev/memcgrp/hidden
    chmod 0700 /dev/memcgrp/hidden
    chown system system /dev/memcgrp/hidden
    chown system system /dev/memcgrp/tasks
    chown system system /dev/memcgrp/hidden/tasks
    chmod 0600 /dev/memcgrp/tasks
    chmod 0600 /dev/memcgrp/hidden/tasks
    write /dev/memcgrp/hidden/memory.swappiness 100
    write /dev/memcgrp/hidden/memory.soft_limit_in_bytes 0
    write /proc/sys/vm/page-cluster 1
    
    #tsp,tkey,key
    chown system system /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/cmd_result
    chown system system /sys/class/sec/tsp/cmd_status
    chown system system /sys/class/sec/tsp/power
    chown system system /sys/class/sec/tsp/close_tsp_test
    chown system system /sys/class/sec/sec_touchkey/brightness
    
# msm specific files that need to be created on /data
on post-fs-data
    # TODO: What are the polling nodes?
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    
    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system
    
    # SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log

    chmod 0775 /data/log
    chmod 0775 /data/anr
    
    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

    setprop vold.post_fs_data_done 1
    
on property:init.svc.surfaceflinger=stopped
    stop ppd
    stop hdmid
    
service hdmid /system/bin/hdmid
    class late_start
    socket hdmid stream 0660 root system graphics
    disabled

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system graphics
    group system graphics

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio wifi inet
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    class late_start
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

service time_daemon /system/bin/time_daemon
    class late_start
    user root
    group root
    oneshot
    disabled

on property:persist.timed.enable=true
    start time_daemon

service profiler_daemon /system/bin/profiler_daemon
    class late_start
    user root
    group root
    disabled
    
# AT Distributor for factory test
service at_distributor /system/bin/at_distributor
    class main
    user root
    group radio log

# diag app for cp uart
service diag_uart_log /system/bin/diag_uart_log
    class main
    user root
    group radio
    
on property:crypto.driver.load=1
     insmod /system/lib/modules/qce.ko
     insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
     exec /system/bin/rmmod qcedev.ko
     exec /system/bin/rmmod qce.ko

service drmdiag /system/bin/drmdiagapp
    class late_start
     user root
     disabled
     oneshot

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag
    
# begin of WiFi????
service ftm_ptt /system/bin/ftm_ptt -d
    user root
    group radio system
    disabled
# end of WiFi

# what the hell is amp?
service amp_init /system/bin/amploader -i
    class late_start
    user root
    disabled
    oneshot

service amp_load /system/bin/amploader -l 7000
    class late_start
    user root
    disabled
    oneshot

service amp_unload /system/bin/amploader -u
    class late_start
    user root
    disabled
    oneshot
    
# a huge set of proprietary daemons
#datarouter
service DR-daemon /system/bin/ddexe
    class main
    user root
    group system radio inet net_raw
 
service KIES-daemon /system/bin/kiesexe
    class main
    user root
    group system radio inet net_raw
 
service SMD-daemon /system/bin/smdexe
    class main
    user root
    group system radio inet net_raw
 
service DTT-daemon /system/bin/dttexe
    class main
    user root
    group system radio inet net_raw
     
service BCS-daemon /system/bin/connfwexe
    class main
    user root
    group system radio inet net_raw

service mobex-daemon /system/bin/npsmobex
    class main
    user system
    group system inet sdcard_rw

# this is 'service bootanim'
#service samsungani /system/bin/samsungani
#    class main
#    user graphics
#    group graphics
#    disabled
#    oneshot

service powersnd /system/bin/samsungpowersoundplay
    class main
    user media
    group system
    disabled
    oneshot

on property:ro.dumpstate.dmesg=1
	write /proc/sys/kernel/dmesg_restrict 0
    
# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1