on early-init
    symlink /efs /factory
    
    # for backwards compatibility
    export EXTERNAL_STORAGE /storage/sdcard0
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
# map "real" external storages paths also in same way. backwards compatibility.
    symlink /storage/extSdCard /mnt/extSdCard
    symlink /storage/UsbDriveA /mnt/UsbDriveA
    symlink /storage/UsbDriveB /mnt/UsbDriveB
    symlink /storage/UsbDriveC /mnt/UsbDriveC
    symlink /storage/UsbDriveD /mnt/UsbDriveD
    symlink /storage/UsbDriveE /mnt/UsbDriveE
    symlink /storage/UsbDriveF /mnt/UsbDriveF

    export SECONDARY_STORAGE /storage/extSdCard:/storage/UsbDriveA:/storage/UsbDriveB:/storage/UsbDriveC:/storage/UsbDriveD:/storage/UsbDriveE:/storage/UsbDriveF
    mkdir /storage/extSdCard 0000 system system
    mkdir /storage/UsbDriveA 0000 system system
    mkdir /storage/UsbDriveB 0000 system system
    mkdir /storage/UsbDriveC 0000 system system
    mkdir /storage/UsbDriveD 0000 system system
    mkdir /storage/UsbDriveE 0000 system system
    mkdir /storage/UsbDriveF 0000 system system

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /preload 0771 system system
    mkdir /efs 0771 system radio
    
on fs
    mount_all fstab.delos3g

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    wait /dev/block/platform/msm_sdcc.3/by-num/p22
    check_fs /dev/block/platform/msm_sdcc.3/by-num/p22 ext4
    mount ext4 /dev/block/platform/msm_sdcc.3/by-num/p22 /cache nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.3/by-num/p12
    check_fs /dev/block/platform/msm_sdcc.3/by-num/p12 ext4
    mount ext4 /dev/block/platform/msm_sdcc.3/by-num/p12 /persist nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.3/by-num/p16
    check_fs /dev/block/platform/msm_sdcc.3/by-num/p16 ext4
    mount ext4 /dev/block/platform/msm_sdcc.3/by-num/p16 /efs nosuid nodev barrier=1
    chown system radio /efs
    chmod 0771 /efs
    
    mount ext4 /dev/block/mmcblk0p23 /preload nosuid nodev noatime wait ro
    setprop storage.preload.complete 1
    
on boot
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    
on post-fs
    # For SysScope
    symlink /dev/block/mmcblk0p14 /dev/block/param

    # ko files for exfat
    insmod /system/lib/modules/exfat_core.ko
    insmod /system/lib/modules/exfat_fs.ko

# msm specific files that need to be created on /data
on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    
    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    
on property:ro.boot.emmc=true
    start rmt_storage
    
# This will make sure that sdcard service starts as late_start.
on nonencrypted
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}

on property:vold.decrypt=trigger_restart_framework
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}
    
service rmt_storage /system/bin/rmt_storage
    class core
    user root
    disabled
    
service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start