on boot
    # Camera
    chown system system /sys/class/camera/rear/rear_flash
   start qcamerasvr

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet audio
