on boot
    # Camera
    chown camera system /sys/class/camera/rear/rear_flash
    # FIXME: temporary workaround, everyone can toggle flash. but this is a security issue.
    chmod 0666 /sys/class/camera/rear/rear_flash
    start qcamerasvr

#start camera server as daemon
service qcamerasvr /system/bin/logwrapper /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet audio
