on early-init
    symlink /efs /factory
    
on init
    # See storage config details at http://source.android.com/tech/storage/
    # Internal (/data/media) storage
    # sdcard: cannot mount fuse filesystem (error 2)
    mkdir /mnt/shell 0700 shell shell
    
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0550 system system
    mkdir /storage/sdcard0 0755 shell media_rw

    # External storages
    # attempt to fix
    #mkdir /mnt/media_rw 0755 system media_rw
    
    # temp hack
    #mkdir /mnt/media_rw/extSdCard 0700 media_rw media_rw
    mkdir /storage/extSdCard 0000 system system
    
    #mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    #mkdir /storage/usbdisk 0700 root root

    # Prepare env vars
    export EXTERNAL_STORAGE /storage/emulated/0
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/extSdCard

    symlink /mnt/shell/emulated /storage/emulated/legacy
    symlink /mnt/shell/emulated/0 /storage/emulated/0
    # the second line is more clear to understand
    symlink /mnt/shell/emulated/0 /storage/sdcard0
    
    symlink /mnt/shell/emulated/0 /mnt/sdcard
    
    #symlink /storage/extSdCard /mnt/media_rw/extSdCard
    #symlink /storage/extSdCard /mnt/extSdCard
    #symlink /storage/usbdisk /mnt/usbdisk
    
    # Support legacy paths
    #symlink /mnt/shell/emulated /storage/emulated
    symlink /mnt/shell/emulated/0 /sdcard
    
    # for replacibility with my twrp 3.0.2
    symlink /storage/extSdCard /external_sd
    
    # temp hack
    chmod 0777 /storage/extSdCard

    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /preload 0771 system system
    mkdir /efs 0771 system radio

# BOARD_WANTS_EMMC_BOOT := true
on emmc-fs
    mount_all /fstab.qcom.base

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    #wait /dev/block/mmcblk0p22
    #check_fs /dev/block/mmcblk0p22 ext4
    #mount ext4 /dev/block/mmcblk0p22 /cache nosuid nodev barrier=1

    wait /dev/block/mmcblk0p12
    #check_fs /dev/block/mmcblk0p12 ext4
    mount ext4 /dev/block/mmcblk0p12 /persist nosuid nodev barrier=1

    wait /dev/block/mmcblk0p16
    #check_fs /dev/block/mmcblk0p16 ext4
    mount ext4 /dev/block/mmcblk0p16 /efs nosuid nodev barrier=1
    
    mount ext4 /dev/block/mmcblk0p23 /preload nosuid nodev noatime wait ro
    setprop storage.preload.complete 1
    
    chown system radio /efs
    chmod 0771 /efs
    
    setprop ro.crypto.fuse_sdcard true
    
# workaround for BOARD_WANTS_EMMC_BOOT := true
#on emmc-fs
#    write /dev/kmsg "on emmc-fs: trigger fs"
#    trigger fs
    # FIXME: if we can't mount /system for 30 seconds then something's very wrong
#    wait /system/bin/sysinit 30
    
on boot
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    
on post-fs
    # For SysScope
    symlink /dev/block/mmcblk0p14 /dev/block/param

# msm specific files that need to be created on /data
on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    
    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    
    setprop vold.post_fs_data_done 1

# always want emmc boot    
#on property:ro.boot.emmc=true
#    start rmt_storage
    
# This will make sure that sdcard service starts as late_start.
on nonencrypted
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}

on property:vold.decrypt=trigger_restart_framework
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}
    
# create pseudo link to internal
on property:init.svc.sdcard=running
    exec -- mount -o bind /mnt/shell/emulated/0 /storage/sdcard0
    
# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/logwrapper /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
    critical
    # debug
    onrestart exec -- /system/bin/ls -laR / > /data/rootfiles.txt
    # implicit
    #disabled

service rmt_storage /system/bin/logwrapper /system/bin/rmt_storage
    class main
    critical
    