on init
    # base jars are dirrerent in stock and aosp. don't forget!
    # export BOOTCLASSPATH 
    #/system/framework/core.jar
    #:/system/framework/core-junit.jar
    #:/system/framework/bouncycastle.jar
    #:/system/framework/ext.jar
    #:/system/framework/framework.jar
    #:/system/framework/framework2.jar
    #:/system/framework/framework_ext.jar
    #:/system/framework/android.policy.jar
    #:/system/framework/services.jar
    #:/system/framework/apache-xml.jar
    #:/system/framework/sec_edm.jar
    #:/system/framework/seccamera.jar
    
##### WE SHOULD PATCH ORIGINAL init.rc WITH THIS #####
service vold /system/bin/vold
    class core
    socket vold stream 0660 root mount
    ioprio be 2
    socket dir_enc_report stream 0660 root mount

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag qcom_diag sdcard_r

service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server
    class main
    socket zygote stream 660 root system
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart media
    onrestart restart netd
    onrestart restart sensord

service drm /system/bin/drmserver
    class main
    user drm
# [ SEC_MM_DRM
# fix
    group system drm inet drmrpc sdcard_r sdcard_rw media_rw radio
# org
#   group drm system inet drmrpc sdcard_r
# ]

service media /system/bin/mediaserver
    class main
    user media
    group system audio camera inet net_bt net_bt_admin net_bw_acct drmrpc sdcard_rw sdcard_r media_rw
    ioprio rt 4
