import /init.qcom.usb.rc

# import whole extension directory
# https://android.googlesource.com/platform/system/core/+/master/init/README.md#Imports
#import initrc.qcom

import /initrc.qcom/init.storage.rc
import /initrc.qcom/init.graphics.rc
import /initrc.qcom/init.audio.rc
import /initrc.qcom/init.unsorted.rc

import /initrc.qcom/init.ril.rc
import /initrc.qcom/init.interop.rc
import /initrc.qcom/init.net.rc

import /initrc.qcom/init.wifi.rc
import /initrc.qcom/init.gps.rc
import /initrc.qcom/init.sensors.rc
import /initrc.qcom/init.camera.rc

import /initrc.qcom/init.optimize.rc
