# taken from cm10.1 for i9300
on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc
    symlink /system/vendor /vendor

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root root

    mount ext4 /dev/block/mmcblk0p21 /system ro wait noatime
    mount ext4 /dev/block/mmcblk0p24 /data rw wait noatime nosuid nodev discard noauto_da_alloc journal_async_commit

    mkdir /data/log 0777

    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event

    # CPU Frequency Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

    ifup lo
    hostname localhost
    domainname localdomain

    class_start main
    start mpdecision

# started on early init
service ueventd /sbin/ueventd
    class core
    critical

# dunno when started. by adbd?
service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group log
    
service playlpm /system/bin/playlpm
    class main
    user root
    oneshot

service lpmkey /system/bin/lpmkey
    class main
    user root
    oneshot
    
service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    user root
    disabled

# adbd is controlled via property triggers in init.<platform>.usb.rc
service adbd /sbin/adbd
    class core
    disabled
    
# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
